<%= render 'claimleftmenu' %>
<%= render 'claimsummarymenu' %>

<div class="with-iconav">
  <div class="container-fluid-middle">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Tasks
          </div>
          <div class="panel-body">

            <%= render 'tasks/task_form' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
