<%= render 'dashboards/dashboardleftmenu' %>

<div class="with-iconav">
  <div class="container-fluid-middle">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Claims
          </div>
          <div class="panel-body">

            <% @claims.each do |claim| %>
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag claim.cover_photo(:thumb) %>
                </div>
                <div class="col-md-7">
                  <h4><%= claim.listing_name %></h4>
                </div>
                <div class="col-md-3 right">
                  <%= link_to "Update", listing_claim_path(claim), class: "btn btn-form" %>
                </div>
              </div>
              <hr/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
