

<div class="container-fluid col-11">
</br>
  <div class="row">
    <div class="col-md-4 banner">
      <h1>Claims managed <span class="v_light_green">faster</span>, <span class="v_light_green">cheaper</span> and with higher <span class="v_light_green">customer satisfaction</span>.</h1>
    </div>
  </div>
</div>


<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>
