<nav class="iconav-right">
  <div class="iconav-right-nav">
    <div class="panel-body">
      <div class="container">
        <h5>Urgent Tasks</h5>
        <table class="table table-sm claim-summary-table">
          <tbody>
            <tr>
              <th scope="row">Task 1:</th>
              <td>Do something.</td>
            </tr>
            <tr>
              <th scope="row">Task 2:</th>
              <td>Submit that stuff!</td>
            </tr>
            <tr>
              <th scope="row">Task 3:</th>
              <td>Check that the first thing was done right!</td>
            </tr>
            <tr>
              <th scope="row">Task 4:</th>
              <td>Call that person.</td>
            </tr>
            <tr>
              <th scope="row">Task 5:</th>
              <td>Write the thing you need to write.</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</nav>
