// Colour Chart //
$black_ish:           #0f1013; //navbar background
$drk_drk_grey:        #252830; //body background
$drk_grey:            #30343E;
$drk_grey2:           #434857; //form-control background
$drk_blue:            #17446E;
$drk_blue_green:      #436573;
$dark_green:          #487F6A; //second
$light_green:         #6CD9A6;
$v_light_green:       #90FFD4; //base
$burnt_yellow:        #B69827;
$burnt_red:           #B24641; //accent
$grey_green:          #6E7F79;
$light_grey_green:    #B1CCC1;
$off_white:           #DDFFF2;
$text_colour:         #CFD2DA;
